.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  background-color: #8B0D55;
  color: white;
}

.Footer .IconText {
  display: flex;
  align-items: center;
  margin-right: 36px;
  cursor: pointer;
}
.Footer .IconText img {
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.Footer .IconText:first-child {
  margin-bottom: 8px;
}
