.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  height: 64px;
  background-color: #8B0D55;
  color: white;
}

.Content {
  flex: 1;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  background-color: #DADADA;
}

.Block {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Block .Textarea {
  flex: 1;
}
