.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  background-color: #DADADA;
}

.Block {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Block .Textarea {
  flex: 1;
}
